@use '../../scss/index' as *;
.content-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .search {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    @include mobile {
      margin-top: 10px;
    }
    input {
      margin-right: 10px;
    }

    .icon-search {
      position: absolute;
      left: 0;
      top: 0;
      width: 40px;
      height: 40px;
      padding: 9px 12px;
      color: rgb(210, 204, 204);

      svg {
        font-size: 1rem;
      }
    }
  }
  .nav {
    margin-top: 20px;
    @include mobile {
      margin-top: 10px;
    }
    .nav-list {
      display: flex;
      .nav-item {
        width: 50px;
        height: 50px;
        border: 1px solid $main-color;
        border-radius: 50%;
        background-image: linear-gradient(to right, rgb(64, 64, 64), #111);
        text-align: center;
        color: #fff;
        padding: 13px 0;
        font-size: 0.5rem;
        @include mobile {
          width: 40px;
          height: 40px;
        }

        & + .nav-item {
          margin-left: 20px;
          @include mobile {
            margin-left: 10px;
          }
        }
        &.active {
          background-image: linear-gradient(to right, $main-color, #111);
        }
        &:hover {
          color: $main-color;
        }
        .icon {
          @include mobile {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

.content-body {
  margin-top: 2rem;
  padding-bottom: 6rem;
  .section {
    margin-bottom: 20px;
    .title {
      font-size: 1.2rem;
      font-weight: 700;
      color: $text-color;
    }
    .recipes {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      @include mobile {
        margin-top: 10px;
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
  .loadmore {
    display: flex;
    justify-content: center;
  }
}
